@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* ----------------- Page Elements & Classes ----------------- */
* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
}

body {
    color: #949494;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1s cubic-bezier(0.77,0,.175,1);
    opacity: 0
}

body.dom-ready {
  opacity: 1
}

body.overflow {
  overflow: hidden;
}

#page {
  transition: all 1s cubic-bezier(0.77,0,.175,1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4f4f4f;
  margin: 0 0 10px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.white-text{
  color: #ffffff !important;
}
.inner{
  height: 100%;
}
p {
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 26.5px;
}

input[type="number"],
input[type="search"],
input[type="email"],
input[type="text"],
input[type="url"],
input[type="password"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  color: #86009A;
  text-decoration: none;
}

img {
  max-width: 100%;
}

img.fitted {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.textcenter{
  text-align: center !important;
}

iframe,
embed {
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.row-fit {
    margin: 0
}

.row-fit [class*="col-"] {
    padding: 0
}

.row-fit-10 {
    margin: 0 -5px
}

.row-fit-10 [class*="col-"] {
    padding: 0 5px
}

.row-fit-40 {
    margin: 0 -20px
}

.row-fit-40 [class*="col-"] {
    padding: 0 20px
}

.row-fit-100 {
    margin: 0 -50px
}

.row-fit-100 [class*="col-"] {
    padding: 0 50px
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clean-list li {
  list-style-type: none;
}

/* ----------------- Transitions ----------------- */
a,
button,
input,
.slick-prev:before,
.slick-next:before,
.isotope-filters li span:after,
.portfolio-item:before,
#fp-nav ul li a span,
.fp-slidesNav ul li a span,
.portfolio-item .hover,
.blog-post .hover,
.menu-trigger,
.team-members .team-member:before,
.widget.widget_instagram ul li,
.widget.widget_popular_posts .cover {
  -webkit-transition: all 0.3s ease-in-out;
  transition:         all 0.3s ease-in-out;
}

/* ----------------- Buttons ----------------- */
.btn {
  display: inline-block;
  background: rgba(255,255,255,0.8);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Montserrat', sans-serif;
  color: #4f4f4f;
  padding: 22px 30px;
}

.btn:hover {
  background: rgba(255,255,255,1);
  color: #4f4f4f;
}

.btn.medium {
  color: #fff;
  font-weight: 400;
  background: #86009A;
  padding: 12px 20px;
}

.btn.medium:hover {
  background: #D3019C;
}

/* ----------------- Header ----------------- */
.menu-trigger {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #86009A;
  text-transform: uppercase;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  padding: 14px 18px 14px 52px;
}

.menu-trigger:hover {
  background: #D3019C;
}

.menu-trigger .icon,
.menu-trigger .icon:before,
.menu-trigger .icon:after {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #fff;
}

.menu-trigger .icon {
  top: 33px;
  left: 24px;
}

.menu-trigger .icon:before {
  content: "";
  top: -12px;
  left: 0;
}

.menu-trigger .icon:after {
  content: "";
  top: -6px;
  left: 0;
}

header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background: #1a1919;
  opacity: 1;
  z-index: 1000;
  padding: 75px 120px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: all .8s cubic-bezier(0.77,0,.175,1);
}

.show-header header {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

body.show-header {
  overflow: hidden;
}

#page:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  content: '';
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.show-header #page:before {
  visibility: visible;
  transition: all 0.8s;
  opacity: 1;

}

header .inner {
  position: relative;
}

header .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  color: #3c3b3b;
  font-size: 35px;
  transition: all .2s ease-in-out;
}

header .close:hover {
  color: #fff;
}

header .search-form {
  position: relative;
  margin: 5px 0 0 0;
}

header .search-form .input-line {
  width: 100%;
  background: none;
  border-bottom: 2px solid #383737;
  padding: 9px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #fff;
}

header .search-form .input-line::-webkit-input-placeholder {
  color: #fff;
}
header .search-form .input-line:-moz-placeholder {
  color: #fff;
}
header .search-form .input-line::-moz-placeholder {
  color: #fff;
}
header .search-form .input-line:-ms-input-placeholder {
  color: #fff;
}

header .search-form .submit-btn {
  position: absolute;
  right: -5px;
  top: -1px;
  background: transparent;
  color: #3f3e3e;
  font-size: 50px;
  line-height: 1em;
}

header .main-nav .menu {
  padding: 16px 0 30px;
}

header .main-nav .menu > li {
  position: relative;
  padding: 7px 0;
}

header .main-nav .menu > li > a {
  text-transform: uppercase;
  font-size: 19px;
  color: #fff;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
}

header .main-nav .menu > li.current-menu-parent:before {
  position: absolute;
  content: "\e936";
  font-family: 'icomoon';
  top: 9px;
  left: -20px;
  color: #86009A;
  font-size: 16px;
}

header .main-nav .menu > li.current-menu-parent > a {
  color: #4a4a4a;
}

header .main-nav .menu li a:hover {
  color: #4a4a4a;
}

header .main-nav .menu li .sub-menu {
  display: none;
}

header .main-nav .menu li.showsub .sub-menu {
  display: block;
}

header .main-nav .menu > li ul {
  padding-top: 5px;
}

header .main-nav .menu > li ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 3px 0;
}


header .socials li {
  display: inline-block;
  font-size: 33px;
  color: #fff;
  margin: 0 3px 0 0;
}

header .socials li a {
  display: block;
  width: 64px;
  height: 64px;
  border: 1px solid #3e3a35;
  text-align: center;
  padding-top: 9px;
}

header .socials li a:hover {
  color: #4a4a4a;
}

header .contact {
  padding: 45px 0 0 0;
  font-size: 15px;
  color: #616161;
  font-family: 'Montserrat', sans-serif;
}

header .contact a {
  color: #a5a5a5;
}

header .contact a:hover {
  color: #4a4a4a;
}

.tt-popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background: #fff;
  opacity: 1;
  transition: all 1s cubic-bezier(0.77,0,.175,1);
  transform: translate3d(100%,0,0);
}

.tt-popup.open {
  transform: translate3d(0,0,0);
}

.tt-popup .close {
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 60px;
  color: #86009A;
  font-size: 45px;
  z-index: 20;
  transition: all .3s ease-in-out;
}

.tt-popup .close:hover {
  color: #86009A;
}

.tt-popup .inner {
  transition: all 0.5s ease;
}

body.popup-visible {
  overflow: hidden;
}

.popup-visible #page {
  transform: translate3d(-100%,0,0);
}

.popup-visible .slide-scroll,
.popup-visible #fp-nav ul {
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.77,0,.175,1);
}


/* ----------------- Content ----------------- */
.content-wrapper {
  position: relative;
}

.section .left-column {
  position: fixed;
  width: 50%;
  /*height: 100vh;*/
  height: 100%;
  background: #ffffff;
}


.section .right-column {
  position: relative;
  width: 50%;
  left: 50%;
}

.section .col-content {
  position: relative;
  width: 100%;
  height: 100vh;
}

.section .section-header {
  position: absolute;
  top: 50%;
  /*top: 60%;*/
  transform: translateY(-50%);
  /*text-align: center;*/
  padding: 0 15%;
  opacity: 0;
  transition: all 0.3s ease;
}

.section-header h2,p{
  text-align: center;
}

.section.active .section-header {
  opacity: 1;
  transition:  all 1s;
  transition-delay: 0.4s;
}

.section.down .section-header h2,
.section.down .section-header p,
.section.down .section-header h5,
.section.down .logo {
  opacity: 0;
  transform: translateY(100px);
  transition-delay: 0s;
  transition: all 1s;
}

.section.up .section-header h2,
.section.up .section-header p,
.section.up .section-header h5,
.section.up .logo {
  opacity: 0;
  transform: translateY(-100px);
  transition-delay: 0s;
  transition: all 1s;
}

.section.up .section-header p {
  transform: translateY(-80px);
}

.section.up .section-header h2 {
  transform: translateY(-100px);
}

.section.active .section-header h2,
.section.active .section-header p,
.section.active .section-header h5,
.section.active .logo {
  transform: translateY(0);
  opacity: 1;
}

.logo img{
  width: 150px;
  margin-top: 12%;
}

.section.active-down .section-header h5 {
  transition-delay: 0.5s;
}

.section.active-down .logo,
.section.active-up .logo,
.section.active-down .section-header h2 {
  transition-delay: 0.6s;
}

.section.active-down .section-header p {
  transition-delay: 0.7s;
}

.section.active-up .section-header h5 {
  transition-delay: 0.7s;
}

.section.active-up .section-header h2 {
  transition-delay: 0.6s;
}

.section.active-up .section-header p {
  transition-delay: 0.5s;
}

.section .logo {
  display: table;
  margin: 0 auto;
  padding-top: 10%;
}

.section .section-header h5 {
  position: relative;
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 0.2em;
  padding: 0 30px 4px;
  display: inline-block;
}

.section .section-header h5:before {
  content: "\f054";
  position: absolute;
  font-family: FontAwesome;
  color: #4f4f4f;
  font-size: 8px;
  top: 0;
  margin-left: -24px;
}

.section .section-header h5:after {
  content: "\f053";
  position: absolute;
  font-family: FontAwesome;
  color: #4f4f4f;
  font-size: 8px;
  top: 0;
  right: 5px;
}

.section .section-header h2 {
  font-size: 37px;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.slide-scroll {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -50px;
  z-index: 200;
  transition: all 2200ms cubic-bezier(0.77,0,.175,1);
}

.slide-scroll span {
  display: block;
  position: relative;
  background: transparent;
  width: 30px;
  height: 52px;
  border: 3px solid #d2cbc6;
  border-radius: 30px;
  transition: all 500ms cubic-bezier(0.77,0,.175,1);
}

.slide-scroll span:before {
  content: "";
  position: absolute;
  top: 20px;
  width: 100%;
  height: 2px;
  background: #d2cbc6;
}

.slide-scroll span:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 11px;
  width: 2px;
  height: 8px;
  background: #d2cbc6;
}

.slide-scroll:hover span {
  transform: translateY(-8px);
}


/* ---------------- Team Members ------------------ */
.team-members .team-member {
  position: relative;
  display: inline-block;
  /*width: 33.33333%;*/
  width: 50%;
  float: left;
  cursor: pointer;
  overflow: hidden;
  /*height: 395px;*/
}

.team-members .team-member img {
  transition: all 0.35s linear;
  transform: scale3d(1.01, 1, 1);
}

.team-members .team-member:hover img {
  transform: scale3d(1.12, 1.12, 1);
}

.team-members .team-member .name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 14px;
  padding: 13px 17px;
  background: #86009A;
}

.team-members .team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-popup .cover {
  width: 50%;
  height: 100%;
  float: left;
}

.team-popup .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-popup .content {
  width: 50%;
  height: 100%;
  float:left;
  text-align: center;
  padding: 180px 150px 50px;
}

.team-popup .content .name {
  color: #595959;
  font-size: 27px;
  letter-spacing: 0;
  line-height: 40px;
}

.team-popup .content .position {
  color: #4f4f4f;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 32px;
}

.team-popup .content .socials {
  padding: 38px 0 10px 0;
}

.team-popup .content .socials li {
  display: inline-block;
  margin-left: 7px;
  margin: 0 0 20px 7px;
}

.team-popup .content .socials li:first-of-type {
  margin: 0 0 20px 0;
}

.team-popup .content .socials li a {
  position: relative;
  font-size: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 15px 8px 32px;
  background: transparent;
  border: 3px solid #5092d5;
  border-radius: 25px;
}

.team-popup .content .socials li a.facebook {
  color: #5092d5;
}

.team-popup .content .socials li a.twitter {
  color: #6fbfe9;
  border-color: #6fbfe9;
  padding-left: 40px;
}

.team-popup .content .socials li a.facebook:hover {
  color: #3070B1;
  border-color: #3070B1;
}

.team-popup .content .socials li a.twitter:hover {
  color: #4595BF;
  border-color: #4595BF;
}

.team-popup .content .socials li a:before {
  font-family: FontAwesome;
  position: absolute;
  top: 4px;
  left: 15px;
  font-size: 16px;
  font-weight: 400;
}

.team-popup .content .socials li a.facebook:before {
  content: "\f09a";
}

.team-popup .content .socials li a.twitter:before {
  content: "\f099";
  font-size: 21px;
  top: -1px;
}

.team-popup .content p {
  margin: 0 0 42px;
  line-height: 42px;
}

/* ---------------- Services ------------------ */
.services {
  background: url(../img/banner_process.png);
  background-position: 100% 100%;
}

.services-list .service-big {
  position: relative;
  background: rgba(0,0,0,0.7);
  color: #fff;
  margin: 0 0 9px;
  transition: all 0.3s cubic-bezier(0.77,0,.175,1);
}

.services-list .service-big:hover {
  background: rgba(255,255,255,0.9);
  color: #595959;
}

.services-list .service-big:hover .icon h5 {
   color: #595959;
}

.services-list .service-big .icon h5 {
  color: #fff;
  transition: all 0.3s cubic-bezier(0.77,0,.175,1);
}

.services-list .service-big .description {
  color: #a5a5a5;
}

.services-list .service-big .icon {
  position: absolute;
  top: 50%;
  left: 110px;
  margin: -25px 0 0 0;
  transform: translateY(-50%);
}

.services-list .service-big .icon h5 {
  font-size: 14px;
  letter-spacing: 0.2em;
  margin: 0 0 65px;
}

.services-list .service-big .icon i {
  font-size: 40px;
}

.services-list .service-big .description {
  padding: 120px 115px 122px 265px;
}

.services-list .service-box {
  margin: 0 auto 10px;
  width: 100%;
  position: relative;
  text-align: center;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  height: 253px;
}

.services-list .service-box:before {
  /*content: "";*/
  display: block;
  padding-top: 100%;
}

.services-list .service-box .front {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 10;
  /*background-color: rgba(207,192,164,0.9);*/
  background-color: #86009a;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  opacity: 0.8;
}

.services-list .service-box .back {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 12;
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  opacity: 0;
}

.services-list .service-box:hover .front {
  z-index: 10;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  opacity: 0;
}

.services-list .service-box:hover .back {
  z-index: 12;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  opacity: 1;
}

.services-list .service-box .front .content,
.services-list .service-box .back .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 28px;
  width: 100%;
}

.services-list .service-box .front i {
  margin-left: -3px;
  font-size: 40px;
  color: #595959;
}

.services-list .service-box .front h5 {
  padding: 15px 0 0;
  letter-spacing: 0.2em;
}

.services-list .service-box .back h5 {
  letter-spacing: 0.2em;
  margin: 0 0 17px;
}

/* ---------------- Isotope ------------------ */
.section.active .isotope-filters {
  opacity: 1;
  transition: all 0.8s;
  transition-delay: 0.7s;
}

.isotope-filters {
  position: absolute;
  display: block;
  top: 29px;
  right: 40px;
  opacity: 0;
  transition: all 0.3s;
  z-index: 5;
}

.isotope-filters li span {
  position: relative;
  cursor: pointer;
  display: block;
  padding: 9px 10px 19px 42px;
  text-transform: uppercase;
  color: #595959;
  letter-spacing: 0.1em;
  font-size: 10px;
}

.isotope-filters li span:before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #cbcbcb;
}

.isotope-filters li span:after {
  position: absolute;
  content: "\e97c";
  font-family: 'icomoon';
  color: #595959;
  left: 9px;
  font-size: 12px;
  opacity: 0;
}

.isotope-filters li span.current:after {
  opacity: 1;
}

/* ---------------- Portfolio ------------------ */
.portfolio-item {
  position: relative;
  margin: 0 0 10px;
  text-align: center;
  overflow: hidden;
  height: 255px;
}

.portfolio-item:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}

.portfolio-item .hover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  padding: 0 20px;
  opacity: 0;
  pointer-events: none;
  z-index: 6;
}

.portfolio-item a img {
  transition: all 0.3s linear;
  transform: scale3d(1, 1, 1);
  height: 255px;
  width: 100%;
}

.portfolio-item:hover a img {
  transform: scale3d(1.12, 1.12, 1);
}

.portfolio-item:hover:before,
.portfolio-item:hover .hover {
  opacity: 1;
}

.portfolio-item .hover h5 {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2em;
  margin: 0 0 17px;
}

/* ---------------- Contact ------------------ */
.contact .map {
  height: 50%;
}

.contact .respond-area {
  /*padding: 45px 40px 15px;*/
  padding: 30px;
}

.contact .respond-area .box-title {
  font-size: 14px;
  letter-spacing: 0.2em;
}

.contact .respond-area .respond-form {
  padding: 0 0 15px;
}

.contact-item .title {
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 2px solid #4f4f4f;
}

.contact-item .title i {
  font-size: 20px;
  padding-right: 15px;
}

.contact-item p {
  padding-left: 30px;
}

/* ---------------- Pricing Tables ------------------ */
.program-section{
  background: url(../img/banner_program.png) no-repeat;
  background-position: 100% 100%;
}
.pricing-section {
  background: url(../img/pricing-tables-bg.jpg) no-repeat;
  background-position: 100% 100%;
}

.pricing-tables {
  padding: 20% 0 20%;
}

.pricing-table {
  padding: 26px 40px;
  background: rgba(255,255,255,0.9);
  margin: 0 0 22px;
}

.pricing-table .plan {
  font-size: 12px;
  letter-spacing: 0;
  margin: 0 0 15px;
}

.pricing-table .title {
  font-size: 23px;
}

.pricing-table .features li {
  font-size: 12px;
  line-height: 21px;
  color: #767675;
  text-transform: uppercase;
}

.pricing-table .price {
  padding: 8px 0 0 0;
  font-size: 44px;
  color: #3b4140;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
}

.pricing-table .price span {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3b4140;
  padding: 0 5px 0 0;
}

.pricing-table .btn {
  margin: 20px 0 0 0;
}

.pricing-table.vip {
  position: relative;
}

.pricing-table.vip:before {
  position: absolute;
  content: "\f006";
  font-family: FontAwesome;
  font-size: 17px;
  color: #fff;
  top: 0;
  right: 40px;
  background: #1de195;
  padding: 3px 7px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pricing-table.vip .title {
  color: #8ec1b6;
}

.pricing-table.vip .price {
  color: #8ec1b6;
}

/* ---------------- Error 404 ------------------ */
.error-404 {
  background: url(../img/services-background.jpg);
  background-position: 100% 100%;
}

.error-404 .right-column .col-content {
  text-align: center;
}

.error-404 .error-button {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  background: rgba(0,0,0,0.6);
  z-index: 99;
  font-size: 0;
  border-radius: 7px;
}

.error-404 .error-button:before {
  position: absolute;
  content: "\e901";
  font-family: 'icomoon';
  color: #fff;
  display: inline-block;
  text-decoration: inherit;
  font-size: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-404 .error-button:hover {
  background: rgba(0,0,0,0.3);
}

.error-404 .titles {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 9px 0 0 40px;
}

.error-404 .titles h4,
.error-404 .titles h5 {
  font-size: 23px;
  color: #fff;
}

.error-404 .col-content .inner {
  padding: 20% 10px 0 10px;
}

.error-404 .image-404 {
  padding: 40px 0 100px;
}

/* ---------------- Blog ------------------ */
.blog {
  background: url(../img/blog-section-bg.jpg) no-repeat;
  background-position: 100% 100%;
}

.blog-post {
  position: relative;
  padding: 15px 40px 15px 40px;
  background: rgba(255,255,255,0.9);
  margin: 0 0 10px;
}

.blog-post .hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

.blog-post .hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-post .hover .read-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.blog-post:hover .hover {
  opacity: 1;
  visibility: visible;
}

.blog-post .date,
.blog-post .comments {
  font-size: 12px;
  color: #4f4f4f;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.blog-post .comments {
  color: #b0b0b0;
  padding-left: 18px;
}

.blog-post .title {
  font-size: 23px;
  line-height: 31.5px;
  margin: 10px 0 10px;
}

.blog-post .entry p:last-of-type {
  margin: 0 0 22px;
}

.blog-post .socials li {
  display: inline-block;
}

.blog-post .socials li a {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #5092d5;
  border: 2px solid #5092d5;
  border-radius: 50px;
  padding: 8px 20px 8px 34px;
  margin-right: 6px;
}

.blog-post .socials li a:before {
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  left: 15px;
  font-size: 18px;
  font-weight: 400;
}

.blog-post .socials li a.twitter {
  color: #6fbfe9;
  border-color: #6fbfe9;
  padding-left: 40px;
}

.blog-post .socials li a.facebook {
  color: #5092d5;
}

.blog-post .socials li a.facebook:before {
  content: "\f09a";
}

.blog-post .socials li a.twitter:before {
  content: "\f099";
  font-size: 21px;
  top: -1px;
}

.blog-post .socials li a.facebook:hover {
  color: #3070B1;
  border-color: #3070B1;
}

.blog-post .socials li a.twitter:hover {
  color: #4595BF;
  border-color: #4595BF;
}

.blog-post .comments-area {
  background: #f7f7f7;
  padding: 25px 30px;
}

.blog-post .comments-area .box-title {
  font-size: 14px;
}

.blog-post .comments-area .comments-box {
  padding: 50px 0 0 0;
}

.blog-post .comments-area .comments-list {
  padding: 5px 0 0 0;
}

.blog-post .comments-area .comments-list .comment {
  position: relative;
  list-style-type: none;
  margin: 0 0 10px;
}

.blog-post .comments-area .comments-list .comment ul {
  position: relative;
  padding: 10px 0 0 30px;
}

.blog-post .comments-area .comments-list .comment ul:before {
  content: "\ea8b";
  position: absolute;
  font-family: 'icomoon';
  color: #d8d8d8;
  top: 9px;
  left: 0;
  font-size: 17px;
}

.blog-post .comments-area .comments-list .comment .avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.blog-post .comments-area .comments-list .comment .body {
  min-height: 85px;
  padding: 0 0 0 105px;
}

.blog-post .comments-area .comments-list .comment .name {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  padding: 8px 0 0 0;
}

.blog-post .comments-area .comments-list .comment .comment-reply-link {
  color: #b0b0b0;
  font-weight: 400;
  padding: 0 0 0 25px;
}

.blog-post .comments-area .comments-list .comment .message {
  line-height: 21px;
  color: #9c9c9c;
  padding: 0 0 0 0;
  margin: 0;
}

.blog-post-popup .blog-post {
  margin: 0;
}

.blog-post-popup .big-cover {
  width: 50%;
  min-height: 1px;
  float: left;
}

.blog-post-popup .big-cover img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.blog-post-popup .content {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  float:left;
  text-align: left;
}

.blog-post-popup .blog-post .upper-area {
  padding: 130px 36px 30px;
}

.blog-post-popup .blog-post {
  padding: 0;
}

.blog-post-popup .blog-post p {
  line-height: 31.5px;
  letter-spacing: 0;
  margin: 0 0 30px;
}

/* ---------------- Sidebar ------------------ */
.sidebar {
  padding: 40px 48px 0;
}

.sidebar .widget {
  margin: 0 0 35px;
}

.sidebar .widget .widget-title h4 {
  position: relative;
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 0.2em;
  padding: 0 23px 0;
  margin: 0 0 22px;
  display: inline-block;
}

.sidebar .widget .widget-title h4:before {
  content: "\f054";
  position: absolute;
  font-family: FontAwesome;
  color: #4f4f4f;
  font-size: 8px;
  top: 0;
  left: 0;
}

.sidebar .widget .widget-title h4:after {
  content: "\f053";
  position: absolute;
  font-family: FontAwesome;
  color: #4f4f4f;
  font-size: 8px;
  top: 0;
  right: 0;
}

.sidebar .widget ul {
  list-style-type: none;
}

.sidebar .widget ul li {
  position: relative;
}

.sidebar .widget ul li a {
  position: relative;
  display: inline-block;
  padding-left: 10px;
}

.sidebar .widget ul li a:before {
  content: "-";
  position: absolute;
  left: 0;
}

/* ---------------- Widgets ------------------ */
.widget.widget_popular_posts ul li {
  min-height: 53px;
}

.widget.widget_popular_posts .cover {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.widget.widget_popular_posts .cover:hover {
  opacity: 0.65;
}

.widget.widget_popular_posts .title {
  padding: 0 0 0 55px;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0;
}

.widget.widget_popular_posts .title a {
  padding: 0;
  max-width: 280px;
}

.widget.widget_popular_posts ul li a:before {
  content: none;
}

.widget.widget_twitter ul {
  margin: -4px 0 0 0;
}

.widget.widget_twitter ul li a {
  padding: 0;
}

.widget.widget_twitter ul li a:before {
  content: none;
}

.widget.widget_twitter ul li {
  padding: 0 0 4px 30px;
}

.widget.widget_twitter ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\f099";
  font-family: FontAwesome;
  color: #55acee;
  font-size: 20px;
}

.widget.widget_twitter ul li .name {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #4f4f4f;
  margin: 0 0 7px;
}

.widget.widget_twitter ul li .name span {
  font-size: 14px;
  color: #d1d1d1;
  text-transform: lowercase;
  padding: 0 0 0 7px;
}

.widget.widget_twitter ul li .text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.widget.widget_twitter ul li .text a {
  color: #55acee;
}

.widget.widget_twitter ul li .text a:hover {
  text-decoration: underline;
}

.widget.widget_instagram ul li a {
  padding: 0;
}

.widget.widget_instagram ul li a:before {
  content: none;
}

.widget.widget_instagram ul {
  margin: 0 -10px;
}

.widget.widget_instagram ul li {
  width: 50%;
  display: inline-block;
  padding: 0 10px;
}

.widget.widget_instagram ul li:hover {
  opacity: 0.7;
}

.widget.widget_tag_cloud .tagcloud a {
  display: inline-block;
  margin: 0 6px 10px 0;
  color: #8ec1b6;
  padding: 6px 8px 5px;
  font-size: 10px !important;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid #8ec1b6;
  border-radius: 4px;
}

.widget.widget_tag_cloud .tagcloud a:hover {
  color: #fff;
  text-decoration: none;
  background: #8ec1b6;
}

/* ---------------- Forms ------------------ */
.respond-form .form-input {
  /*color: #bebebe;*/
  color: #000;
  font-size: 14px;
  padding: 11px 10px 10px;
  background: transparent;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  width: 100%;
  margin: 5px 0 35px;
}

.respond-form .form-input:focus {
  border-color: #86009A;
}

.respond-form textarea.form-input {
  margin: 5px 0 20px;
}

.respond-form label {
  font-size: 14px;
  color: #4f4f4f;
  font-weight: 700;
}

.respond-form textarea {
  min-height: 110px;
  resize: none;
}

.respond-form .form-input::-webkit-input-placeholder {
  color: #bebebe;
}
.respond-form .form-input:-moz-placeholder {
  color: #bebebe;
}
.respond-form .form-input::-moz-placeholder {
  color: #bebebe;
}
.respond-form .form-input:-ms-input-placeholder {
  color: #bebebe;
}

.testimonials-pd{
  padding-top: 45%;
}
/* ---------------- Media & Responsive ------------------ */
@media (max-width: 1300px) and (min-width: 1050px) {
  header {
    padding: 75px 45px;
  }

  .team-popup .content {
    padding: 140px 45px 50px;
  }

  .services-list .service-big .icon h5 {
    margin: 0 0 35px;
  }

  .services-list .service-big .description {
    padding: 78px 75px 82px 250px;
  }

  .services-list .service-big .icon {
    margin: 0;
  }

  .services-list .service-box .front .content,
  .services-list .service-box .back .content {
    padding: 10px 10px;
  }

  .services-list .service-box .back p {
    line-height: 22px;
    font-size: 14px;
  }

}

@media (max-width: 1200px) and (min-width: 1050px) {
  .team-members .team-member .name {
    padding: 8px 14px;
  }
  .team-members .team-member {
    width: 50%;
  }
}

@media (max-height: 850px) {
  header {
    padding: 30px 120px;
  }
}

@media (max-width: 1050px) {
  .testimonials-pd{
    padding: 20%;
  }
  .mobile-dismiss{
    display: none !important;
  }
  .section .left-column {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    height: 30%;
  }

  .section .right-column {
    width: 100%;
    left: 0;
  }

  .section .col-content {
    /*height: 100%;*/
    height: 20%;
  }

  .section .section-header {
    position: relative;
    transform: none;
    padding: 50px 15%;
    opacity: 1;
  }

  .slide-scroll {
    visibility: hidden;
  }

  .slick-carousel img.fitted {
    height: 100%;
  }

  #fp-nav {
    visibility: hidden;
  }

  body {
    overflow-x: hidden;
  }

  header {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .isotope-filters {
    opacity: 1;
  }

  .services {
    background-size: cover;
  }

  .tt-popup {
    position: fixed;
    overflow-y: auto;
    height: 100%;
  }

  .team-popup .cover {
    width: 100%;
    height: auto;
  }

  .team-popup .cover {
    height: auto;
  }

  .team-popup .content {
    width: 100%;
    height: auto;
    padding: 80px 150px 50px;
  }

  .blog-post-popup .big-cover {
    width: 100%;
  }

  .blog-post-popup .big-cover img {
    height: auto;
  }

  .blog-post-popup .content {
    width: 100%;
    height: auto;
  }

  .blog-post-popup .blog-post .upper-area {
    padding: 50px 36px 30px;
  }

  .tt-popup .close {
    color: #3c3b3b;
  }

  .tt-popup .close:hover {
    color: #fff;
  }
}

@media (max-width: 680px) {
  .team-popup .content {
    padding: 50px 15px 50px;
  }

  .team-members .team-member .name {
    padding: 8px 14px;
  }
  .team-members .team-member {
    width: 50%;
  }

  .services-list .service-big .icon h5 {
    margin: 0 0 35px;
  }

  .services-list .service-big .description {
    padding: 78px 40px 82px 140px;
  }

  .services-list .service-big .icon {
    margin: 0;
    left: 40px;
  }

  .section .section-header {
    padding: 140px 15px;
  }

  header {
    padding: 75px 30px;
  }

  .pricing-section {
    background-size: cover;
  }

  .slick-prev, .slick-next {
    width: 65px !important;
    height: 65px !important;
  }

  .slick-prev {
    right: 87px !important;
  }
}

@media (max-width: 530px) {
  .team-members .team-member {
    width: 100%;
  }

  .portfolio .col-xs-12 {
    width: 100%;
  }

  .portfolio-item a img {
    width: 100%;
  }

  .pricing-table {
    text-align: center;
  }

  .pricing-table .col-xs-8,
  .pricing-table .col-xs-6,
  .pricing-table .col-xs-5,
  .pricing-table .col-xs-4 {
    width: 100%;
  }

  .menu-trigger span {
    display: none;
  }

  .menu-trigger {
    padding: 0;
    width: 50px;
    height: 50px;
  }

  .menu-trigger .icon {
    top: 30px;
    left: 15px;
  }
}

@media (max-width: 450px) {
  .isotope-container .col-xs-12 {
    width: 100%;
  }

  .contact .respond-area {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tt-popup .close {
    right: 15px;
    font-size: 34px;
  }

  .services-list .service-big .icon {
    left: 15px;
  }

  .services-list .service-big .description {
    padding: 70px 15px 70px 110px;
  }

  .sidebar .row-fit-100 [class*="col-"],
  .blog-post-popup .blog-post .upper-area,
  .blog-post .comments-area,
  .blog-post {
    padding-left: 15px;
    padding-right: 15px;
  }

  header .close {
    font-size: 34px;
  }
}

/* ---------------- Slick Carousel ------------------ */
.slick-carousel {
  position: relative;
}

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider * {
  outline: none !important;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev, .slick-next {
  position: absolute;
  cursor: pointer;
  width: 90px;
  height: 90px;
  background: rgba(0,0,0,0.3);
  z-index: 99;
  font-size: 0;
  border-radius: 7px;
  bottom: 20px;
}

.slick-prev:before, .slick-next:before {
  position: absolute;
  font-family: 'icomoon';
  color: #9e9b96;
  display: inline-block;
  text-decoration: inherit;
  font-size: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-prev:before {
  content: "\e901";
}

.slick-next:before {
  content: "\e900";
}

.slick-prev {
  right: 112px;
}

.slick-next {
  right: 20px;
}

.slick-prev:hover,.slick-next:hover  {
  outline: none;
  background: rgba(0,0,0,0.6);
}

.slick-prev:hover:before, .slick-next:hover:before {
  color: #fff;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?bec1tz');
  src:url('fonts/icomoon.eot?bec1tz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bec1tz') format('truetype'),
    url('fonts/icomoon.woff?bec1tz') format('woff'),
    url('fonts/icomoon.svg?bec1tz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Shape1:before {
  content: "\ea8b";
}

.icon-puzzle16:before {
  content: "\ea8a";
}
.icon-by .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.icon-by .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-nc .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-nc .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-nd .path1:before {
  content: "\e908";
  color: rgb(255, 255, 255);
}
.icon-nd .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-star-outline:before {
  content: "\e90a";
}
.icon-Voodoo_Doll:before {
  content: "\e90b";
}
.icon-phone-outline:before {
  content: "\e90c";
}
.icon-internt_web_technology-14:before {
  content: "\e90d";
}
.icon-internt_web_technology-08:before {
  content: "\e90e";
}
.icon-social-facebook:before {
  content: "\e90f";
}
.icon-Socialmedia_icons_Facebook:before {
  content: "\e910";
}
.icon-Facebook:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-dribbble_online_social_media:before {
  content: "\e913";
}
.icon-twitter_online_social_media:before {
  content: "\e914";
}
.icon-facebook_online_social_media:before {
  content: "\e915";
}
.icon-instagram_online_social_media .path1:before {
  content: "\e916";
  color: rgb(255, 255, 255);
}
.icon-instagram_online_social_media .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}
.icon-instagram_online_social_media .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-online_social_media_twitter .path1:before {
  content: "\e919";
  color: rgb(255, 255, 255);
}
.icon-online_social_media_twitter .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}
.icon-online_social_media_twitter .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-facebook_online_social_media2 .path1:before {
  content: "\e91c";
  color: rgb(255, 255, 255);
}
.icon-facebook_online_social_media2 .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}
.icon-facebook_online_social_media2 .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Danger:before {
  content: "\e91f";
}
.icon-icon-arrow-right-c:before {
  content: "\e920";
}
.icon-menu-24:before {
  content: "\e921";
}
.icon-arrow_back:before {
  content: "\e922";
}
.icon-arrow_carrot_up_alt:before {
  content: "\e923";
}
.icon-arrow_carrot-2down:before {
  content: "\e924";
}
.icon-arrow_carrot-2down_alt2:before {
  content: "\e925";
}
.icon-arrow_carrot-2dwnn_alt:before {
  content: "\e926";
}
.icon-arrow_carrot-2left:before {
  content: "\e927";
}
.icon-arrow_carrot-2left_alt:before {
  content: "\e928";
}
.icon-arrow_carrot-2left_alt2:before {
  content: "\e929";
}
.icon-arrow_carrot-2right:before {
  content: "\e92a";
}
.icon-arrow_carrot-2right_alt:before {
  content: "\e92b";
}
.icon-arrow_carrot-2right_alt2:before {
  content: "\e92c";
}
.icon-arrow_carrot-2up:before {
  content: "\e92d";
}
.icon-arrow_carrot-2up_alt:before {
  content: "\e92e";
}
.icon-arrow_carrot-2up_alt2:before {
  content: "\e92f";
}
.icon-arrow_carrot-down:before {
  content: "\e930";
}
.icon-arrow_carrot-down_alt:before {
  content: "\e931";
}
.icon-arrow_carrot-down_alt2:before {
  content: "\e932";
}
.icon-arrow_carrot-left:before {
  content: "\e933";
}
.icon-arrow_carrot-left_alt:before {
  content: "\e934";
}
.icon-arrow_carrot-left_alt2:before {
  content: "\e935";
}
.icon-arrow_carrot-right:before {
  content: "\e936";
}
.icon-arrow_carrot-right_alt:before {
  content: "\e937";
}
.icon-arrow_carrot-right_alt2:before {
  content: "\e938";
}
.icon-arrow_carrot-up:before {
  content: "\e939";
}
.icon-arrow_carrot-up_alt2:before {
  content: "\e93a";
}
.icon-arrow_condense:before {
  content: "\e93b";
}
.icon-arrow_condense_alt:before {
  content: "\e93c";
}
.icon-arrow_down:before {
  content: "\e93d";
}
.icon-arrow_down_alt:before {
  content: "\e93e";
}
.icon-arrow_expand:before {
  content: "\e93f";
}
.icon-arrow_expand_alt:before {
  content: "\e940";
}
.icon-arrow_expand_alt2:before {
  content: "\e941";
}
.icon-arrow_expand_alt3:before {
  content: "\e942";
}
.icon-arrow_left:before {
  content: "\e943";
}
.icon-arrow_left_alt:before {
  content: "\e944";
}
.icon-arrow_left-down:before {
  content: "\e945";
}
.icon-arrow_left-down_alt:before {
  content: "\e946";
}
.icon-arrow_left-right:before {
  content: "\e947";
}
.icon-arrow_left-right_alt:before {
  content: "\e948";
}
.icon-arrow_left-up:before {
  content: "\e949";
}
.icon-arrow_left-up_alt:before {
  content: "\e94a";
}
.icon-arrow_move:before {
  content: "\e94b";
}
.icon-arrow_right:before {
  content: "\e94c";
}
.icon-arrow_right_alt:before {
  content: "\e94d";
}
.icon-arrow_right-down:before {
  content: "\e94e";
}
.icon-arrow_right-down_alt:before {
  content: "\e94f";
}
.icon-arrow_right-up:before {
  content: "\e950";
}
.icon-arrow_right-up_alt:before {
  content: "\e951";
}
.icon-arrow_triangle-down:before {
  content: "\e952";
}
.icon-arrow_triangle-down_alt:before {
  content: "\e953";
}
.icon-arrow_triangle-down_alt2:before {
  content: "\e954";
}
.icon-arrow_triangle-left:before {
  content: "\e955";
}
.icon-arrow_triangle-left_alt:before {
  content: "\e956";
}
.icon-arrow_triangle-left_alt2:before {
  content: "\e957";
}
.icon-arrow_triangle-right:before {
  content: "\e958";
}
.icon-arrow_triangle-right_alt:before {
  content: "\e959";
}
.icon-arrow_triangle-right_alt2:before {
  content: "\e95a";
}
.icon-arrow_triangle-up:before {
  content: "\e95b";
}
.icon-arrow_triangle-up_alt:before {
  content: "\e95c";
}
.icon-arrow_triangle-up_alt2:before {
  content: "\e95d";
}
.icon-arrow_up:before {
  content: "\e95e";
}
.icon-arrow_up_alt:before {
  content: "\e95f";
}
.icon-arrow_up-down_alt:before {
  content: "\e960";
}
.icon-arrow-up-down:before {
  content: "\e961";
}
.icon-icon_adjust-horiz:before {
  content: "\e962";
}
.icon-icon_adjust-vert:before {
  content: "\e963";
}
.icon-icon_archive:before {
  content: "\e964";
}
.icon-icon_archive_alt:before {
  content: "\e965";
}
.icon-icon_bag:before {
  content: "\e966";
}
.icon-icon_bag_alt:before {
  content: "\e967";
}
.icon-icon_balance:before {
  content: "\e968";
}
.icon-icon_blocked:before {
  content: "\e969";
}
.icon-icon_book:before {
  content: "\e96a";
}
.icon-icon_book_alt:before {
  content: "\e96b";
}
.icon-icon_box-checked:before {
  content: "\e96c";
}
.icon-icon_box-empty:before {
  content: "\e96d";
}
.icon-icon_box-selected:before {
  content: "\e96e";
}
.icon-icon_briefcase:before {
  content: "\e96f";
}
.icon-icon_briefcase_alt:before {
  content: "\e970";
}
.icon-icon_building:before {
  content: "\e971";
}
.icon-icon_building_alt:before {
  content: "\e972";
}
.icon-icon_calculator_alt:before {
  content: "\e973";
}
.icon-icon_calendar:before {
  content: "\e974";
}
.icon-icon_calulator:before {
  content: "\e975";
}
.icon-icon_camera:before {
  content: "\e976";
}
.icon-icon_camera_alt:before {
  content: "\e977";
}
.icon-icon_cart:before {
  content: "\e978";
}
.icon-icon_cart_alt:before {
  content: "\e979";
}
.icon-icon_chat:before {
  content: "\e97a";
}
.icon-icon_chat_alt:before {
  content: "\e97b";
}
.icon-icon_check:before {
  content: "\e97c";
}
.icon-icon_check_alt:before {
  content: "\e97d";
}
.icon-icon_check_alt2:before {
  content: "\e97e";
}
.icon-icon_circle-empty:before {
  content: "\e97f";
}
.icon-icon_circle-slelected:before {
  content: "\e980";
}
.icon-icon_clipboard:before {
  content: "\e981";
}
.icon-icon_clock:before {
  content: "\e982";
}
.icon-icon_clock_alt:before {
  content: "\e983";
}
.icon-icon_close:before {
  content: "\e984";
}
.icon-icon_close_alt:before {
  content: "\e985";
}
.icon-icon_close_alt2:before {
  content: "\e986";
}
.icon-icon_cloud:before {
  content: "\e987";
}
.icon-icon_cloud_alt:before {
  content: "\e988";
}
.icon-icon_cloud-download:before {
  content: "\e989";
}
.icon-icon_cloud-download_alt:before {
  content: "\e98a";
}
.icon-icon_cloud-upload:before {
  content: "\e98b";
}
.icon-icon_cloud-upload_alt:before {
  content: "\e98c";
}
.icon-icon_cog:before {
  content: "\e98d";
}
.icon-icon_cogs:before {
  content: "\e98e";
}
.icon-icon_comment:before {
  content: "\e98f";
}
.icon-icon_comment_alt:before {
  content: "\e990";
}
.icon-icon_compass:before {
  content: "\e991";
}
.icon-icon_compass_alt:before {
  content: "\e992";
}
.icon-icon_cone:before {
  content: "\e993";
}
.icon-icon_cone_alt:before {
  content: "\e994";
}
.icon-icon_contacts:before {
  content: "\e995";
}
.icon-icon_contacts_alt:before {
  content: "\e996";
}
.icon-icon_creditcard:before {
  content: "\e997";
}
.icon-icon_currency:before {
  content: "\e998";
}
.icon-icon_currency_alt:before {
  content: "\e999";
}
.icon-icon_cursor:before {
  content: "\e99a";
}
.icon-icon_cursor_alt:before {
  content: "\e99b";
}
.icon-icon_datareport:before {
  content: "\e99c";
}
.icon-icon_datareport_alt:before {
  content: "\e99d";
}
.icon-icon_desktop:before {
  content: "\e99e";
}
.icon-icon_dislike:before {
  content: "\e99f";
}
.icon-icon_dislike_alt:before {
  content: "\e9a0";
}
.icon-icon_document:before {
  content: "\e9a1";
}
.icon-icon_document_alt:before {
  content: "\e9a2";
}
.icon-icon_documents:before {
  content: "\e9a3";
}
.icon-icon_documents_alt:before {
  content: "\e9a4";
}
.icon-icon_download:before {
  content: "\e9a5";
}
.icon-icon_drawer:before {
  content: "\e9a6";
}
.icon-icon_drawer_alt:before {
  content: "\e9a7";
}
.icon-icon_drive:before {
  content: "\e9a8";
}
.icon-icon_drive_alt:before {
  content: "\e9a9";
}
.icon-icon_easel:before {
  content: "\e9aa";
}
.icon-icon_easel_alt:before {
  content: "\e9ab";
}
.icon-icon_error-circle:before {
  content: "\e9ac";
}
.icon-icon_error-circle_alt:before {
  content: "\e9ad";
}
.icon-icon_error-oct:before {
  content: "\e9ae";
}
.icon-icon_error-oct_alt:before {
  content: "\e9af";
}
.icon-icon_error-triangle:before {
  content: "\e9b0";
}
.icon-icon_error-triangle_alt:before {
  content: "\e9b1";
}
.icon-icon_film:before {
  content: "\e9b2";
}
.icon-icon_floppy:before {
  content: "\e9b3";
}
.icon-icon_floppy_alt:before {
  content: "\e9b4";
}
.icon-icon_flowchart:before {
  content: "\e9b5";
}
.icon-icon_flowchart_alt:before {
  content: "\e9b6";
}
.icon-icon_folder:before {
  content: "\e9b7";
}
.icon-icon_folder_download:before {
  content: "\e9b8";
}
.icon-icon_folder_upload:before {
  content: "\e9b9";
}
.icon-icon_folder-add:before {
  content: "\e9ba";
}
.icon-icon_folder-add_alt:before {
  content: "\e9bb";
}
.icon-icon_folder-alt:before {
  content: "\e9bc";
}
.icon-icon_folder-open:before {
  content: "\e9bd";
}
.icon-icon_folder-open_alt:before {
  content: "\e9be";
}
.icon-icon_genius:before {
  content: "\e9bf";
}
.icon-icon_gift:before {
  content: "\e9c0";
}
.icon-icon_gift_alt:before {
  content: "\e9c1";
}
.icon-icon_globe:before {
  content: "\e9c2";
}
.icon-icon_globe_alt:before {
  content: "\e9c3";
}
.icon-icon_globe-2:before {
  content: "\e9c4";
}
.icon-icon_grid-2x2:before {
  content: "\e9c5";
}
.icon-icon_grid-3x3:before {
  content: "\e9c6";
}
.icon-icon_group:before {
  content: "\e9c7";
}
.icon-icon_headphones:before {
  content: "\e9c8";
}
.icon-icon_heart:before {
  content: "\e9c9";
}
.icon-icon_heart_alt:before {
  content: "\e9ca";
}
.icon-icon_hourglass:before {
  content: "\e9cb";
}
.icon-icon_house:before {
  content: "\e9cc";
}
.icon-icon_house_alt:before {
  content: "\e9cd";
}
.icon-icon_id:before {
  content: "\e9ce";
}
.icon-icon_id_alt:before {
  content: "\e9cf";
}
.icon-icon_id-2:before {
  content: "\e9d0";
}
.icon-icon_id-2_alt:before {
  content: "\e9d1";
}
.icon-icon_image:before {
  content: "\e9d2";
}
.icon-icon_images:before {
  content: "\e9d3";
}
.icon-icon_info:before {
  content: "\e9d4";
}
.icon-icon_info_alt:before {
  content: "\e9d5";
}
.icon-icon_key:before {
  content: "\e9d6";
}
.icon-icon_key_alt:before {
  content: "\e9d7";
}
.icon-icon_laptop:before {
  content: "\e9d8";
}
.icon-icon_lifesaver:before {
  content: "\e9d9";
}
.icon-icon_lightbulb:before {
  content: "\e9da";
}
.icon-icon_lightbulb_alt:before {
  content: "\e9db";
}
.icon-icon_like:before {
  content: "\e9dc";
}
.icon-icon_like_alt:before {
  content: "\e9dd";
}
.icon-icon_link:before {
  content: "\e9de";
}
.icon-icon_link_alt:before {
  content: "\e9df";
}
.icon-icon_loading:before {
  content: "\e9e0";
}
.icon-icon_lock:before {
  content: "\e9e1";
}
.icon-icon_lock_alt:before {
  content: "\e9e2";
}
.icon-icon_lock-open:before {
  content: "\e9e3";
}
.icon-icon_lock-open_alt:before {
  content: "\e9e4";
}
.icon-icon_mail:before {
  content: "\e9e5";
}
.icon-icon_mail_alt:before {
  content: "\e9e6";
}
.icon-icon_map:before {
  content: "\e9e7";
}
.icon-icon_map_alt:before {
  content: "\e9e8";
}
.icon-icon_menu:before {
  content: "\e9e9";
}
.icon-icon_menu-circle_alt:before {
  content: "\e9ea";
}
.icon-icon_menu-circle_alt2:before {
  content: "\e9eb";
}
.icon-icon_menu-square_alt:before {
  content: "\e9ec";
}
.icon-icon_menu-square_alt2:before {
  content: "\e9ed";
}
.icon-icon_mic:before {
  content: "\e9ee";
}
.icon-icon_mic_alt:before {
  content: "\e9ef";
}
.icon-icon_minus_alt:before {
  content: "\e9f0";
}
.icon-icon_minus_alt2:before {
  content: "\e9f1";
}
.icon-icon_minus-06:before {
  content: "\e9f2";
}
.icon-icon_minus-box:before {
  content: "\e9f3";
}
.icon-icon_mobile:before {
  content: "\e9f4";
}
.icon-icon_mug:before {
  content: "\e9f5";
}
.icon-icon_mug_alt:before {
  content: "\e9f6";
}
.icon-icon_music:before {
  content: "\e9f7";
}
.icon-icon_ol:before {
  content: "\e9f8";
}
.icon-icon_paperclip:before {
  content: "\e9f9";
}
.icon-icon_pause:before {
  content: "\e9fa";
}
.icon-icon_pause_alt:before {
  content: "\e9fb";
}
.icon-icon_pause_alt2:before {
  content: "\e9fc";
}
.icon-icon_pencil:before {
  content: "\e9fd";
}
.icon-icon_pencil_alt:before {
  content: "\e9fe";
}
.icon-icon_pencil-edit:before {
  content: "\e9ff";
}
.icon-icon_pencil-edit_alt:before {
  content: "\ea00";
}
.icon-icon_pens:before {
  content: "\ea01";
}
.icon-icon_pens_alt:before {
  content: "\ea02";
}
.icon-icon_percent:before {
  content: "\ea03";
}
.icon-icon_percent_alt:before {
  content: "\ea04";
}
.icon-icon_phone:before {
  content: "\ea05";
}
.icon-icon_piechart:before {
  content: "\ea06";
}
.icon-icon_pin:before {
  content: "\ea07";
}
.icon-icon_pin_alt:before {
  content: "\ea08";
}
.icon-icon_plus:before {
  content: "\ea09";
}
.icon-icon_plus_alt:before {
  content: "\ea0a";
}
.icon-icon_plus_alt2:before {
  content: "\ea0b";
}
.icon-icon_plus-box:before {
  content: "\ea0c";
}
.icon-icon_printer:before {
  content: "\ea0d";
}
.icon-icon_printer-alt:before {
  content: "\ea0e";
}
.icon-icon_profile:before {
  content: "\ea0f";
}
.icon-icon_pushpin:before {
  content: "\ea10";
}
.icon-icon_pushpin_alt:before {
  content: "\ea11";
}
.icon-icon_puzzle:before {
  content: "\ea12";
}
.icon-icon_puzzle_alt:before {
  content: "\ea13";
}
.icon-icon_question:before {
  content: "\ea14";
}
.icon-icon_question_alt:before {
  content: "\ea15";
}
.icon-icon_question_alt2:before {
  content: "\ea16";
}
.icon-icon_quotations:before {
  content: "\ea17";
}
.icon-icon_quotations_alt:before {
  content: "\ea18";
}
.icon-icon_quotations_alt2:before {
  content: "\ea19";
}
.icon-icon_refresh:before {
  content: "\ea1a";
}
.icon-icon_ribbon:before {
  content: "\ea1b";
}
.icon-icon_ribbon_alt:before {
  content: "\ea1c";
}
.icon-icon_rook:before {
  content: "\ea1d";
}
.icon-icon_search:before {
  content: "\ea1e";
}
.icon-icon_search_alt:before {
  content: "\ea1f";
}
.icon-icon_search2:before {
  content: "\ea20";
}
.icon-icon_shield:before {
  content: "\ea21";
}
.icon-icon_shield_alt:before {
  content: "\ea22";
}
.icon-icon_star:before {
  content: "\ea23";
}
.icon-icon_star_alt:before {
  content: "\ea24";
}
.icon-icon_star-half:before {
  content: "\ea25";
}
.icon-icon_star-half_alt:before {
  content: "\ea26";
}
.icon-icon_stop:before {
  content: "\ea27";
}
.icon-icon_stop_alt:before {
  content: "\ea28";
}
.icon-icon_stop_alt2:before {
  content: "\ea29";
}
.icon-icon_table:before {
  content: "\ea2a";
}
.icon-icon_tablet:before {
  content: "\ea2b";
}
.icon-icon_tag:before {
  content: "\ea2c";
}
.icon-icon_tag_alt:before {
  content: "\ea2d";
}
.icon-icon_tags:before {
  content: "\ea2e";
}
.icon-icon_tags_alt:before {
  content: "\ea2f";
}
.icon-icon_target:before {
  content: "\ea30";
}
.icon-icon_tool:before {
  content: "\ea31";
}
.icon-icon_toolbox:before {
  content: "\ea32";
}
.icon-icon_toolbox_alt:before {
  content: "\ea33";
}
.icon-icon_tools:before {
  content: "\ea34";
}
.icon-icon_trash:before {
  content: "\ea35";
}
.icon-icon_trash_alt:before {
  content: "\ea36";
}
.icon-icon_ul:before {
  content: "\ea37";
}
.icon-icon_upload:before {
  content: "\ea38";
}
.icon-icon_vol-mute:before {
  content: "\ea39";
}
.icon-icon_vol-mute_alt:before {
  content: "\ea3a";
}
.icon-icon_volume-high:before {
  content: "\ea3b";
}
.icon-icon_volume-high_alt:before {
  content: "\ea3c";
}
.icon-icon_volume-low:before {
  content: "\ea3d";
}
.icon-icon_volume-low_alt:before {
  content: "\ea3e";
}
.icon-icon_wallet:before {
  content: "\ea3f";
}
.icon-icon_wallet_alt:before {
  content: "\ea40";
}
.icon-icon_zoom-in:before {
  content: "\ea41";
}
.icon-icon_zoom-in_alt:before {
  content: "\ea42";
}
.icon-icon_zoom-out:before {
  content: "\ea43";
}
.icon-icon_zoom-out_alt:before {
  content: "\ea44";
}
.icon-social_blogger:before {
  content: "\ea45";
}
.icon-social_blogger_circle:before {
  content: "\ea46";
}
.icon-social_blogger_square:before {
  content: "\ea47";
}
.icon-social_delicious:before {
  content: "\ea48";
}
.icon-social_delicious_circle:before {
  content: "\ea49";
}
.icon-social_delicious_square:before {
  content: "\ea4a";
}
.icon-social_deviantart:before {
  content: "\ea4b";
}
.icon-social_deviantart_circle:before {
  content: "\ea4c";
}
.icon-social_deviantart_square:before {
  content: "\ea4d";
}
.icon-social_dribbble:before {
  content: "\ea4e";
}
.icon-social_dribbble_circle:before {
  content: "\ea4f";
}
.icon-social_dribbble_square:before {
  content: "\ea50";
}
.icon-social_facebook:before {
  content: "\ea51";
}
.icon-social_facebook_circle:before {
  content: "\ea52";
}
.icon-social_facebook_square:before {
  content: "\ea53";
}
.icon-social_flickr:before {
  content: "\ea54";
}
.icon-social_flickr_circle:before {
  content: "\ea55";
}
.icon-social_flickr_square:before {
  content: "\ea56";
}
.icon-social_googledrive:before {
  content: "\ea57";
}
.icon-social_googledrive_alt2:before {
  content: "\ea58";
}
.icon-social_googledrive_square:before {
  content: "\ea59";
}
.icon-social_googleplus:before {
  content: "\ea5a";
}
.icon-social_googleplus_circle:before {
  content: "\ea5b";
}
.icon-social_googleplus_square:before {
  content: "\ea5c";
}
.icon-social_instagram:before {
  content: "\ea5d";
}
.icon-social_instagram_circle:before {
  content: "\ea5e";
}
.icon-social_instagram_square:before {
  content: "\ea5f";
}
.icon-social_linkedin:before {
  content: "\ea60";
}
.icon-social_linkedin_circle:before {
  content: "\ea61";
}
.icon-social_linkedin_square:before {
  content: "\ea62";
}
.icon-social_myspace:before {
  content: "\ea63";
}
.icon-social_myspace_circle:before {
  content: "\ea64";
}
.icon-social_myspace_square:before {
  content: "\ea65";
}
.icon-social_picassa:before {
  content: "\ea66";
}
.icon-social_picassa_circle:before {
  content: "\ea67";
}
.icon-social_picassa_square:before {
  content: "\ea68";
}
.icon-social_pinterest:before {
  content: "\ea69";
}
.icon-social_pinterest_circle:before {
  content: "\ea6a";
}
.icon-social_pinterest_square:before {
  content: "\ea6b";
}
.icon-social_rss:before {
  content: "\ea6c";
}
.icon-social_rss_circle:before {
  content: "\ea6d";
}
.icon-social_rss_square:before {
  content: "\ea6e";
}
.icon-social_share:before {
  content: "\ea6f";
}
.icon-social_share_circle:before {
  content: "\ea70";
}
.icon-social_share_square:before {
  content: "\ea71";
}
.icon-social_skype:before {
  content: "\ea72";
}
.icon-social_skype_circle:before {
  content: "\ea73";
}
.icon-social_skype_square:before {
  content: "\ea74";
}
.icon-social_spotify:before {
  content: "\ea75";
}
.icon-social_spotify_circle:before {
  content: "\ea76";
}
.icon-social_spotify_square:before {
  content: "\ea77";
}
.icon-social_stumbleupon_circle:before {
  content: "\ea78";
}
.icon-social_stumbleupon_square:before {
  content: "\ea79";
}
.icon-social_tumbleupon:before {
  content: "\ea7a";
}
.icon-social_tumblr:before {
  content: "\ea7b";
}
.icon-social_tumblr_circle:before {
  content: "\ea7c";
}
.icon-social_tumblr_square:before {
  content: "\ea7d";
}
.icon-social_twitter:before {
  content: "\ea7e";
}
.icon-social_twitter_circle:before {
  content: "\ea7f";
}
.icon-social_twitter_square:before {
  content: "\ea80";
}
.icon-social_vimeo:before {
  content: "\ea81";
}
.icon-social_vimeo_circle:before {
  content: "\ea82";
}
.icon-social_vimeo_square:before {
  content: "\ea83";
}
.icon-social_wordpress:before {
  content: "\ea84";
}
.icon-social_wordpress_circle:before {
  content: "\ea85";
}
.icon-social_wordpress_square:before {
  content: "\ea86";
}
.icon-social_youtube:before {
  content: "\ea87";
}
.icon-social_youtube_circle:before {
  content: "\ea88";
}
.icon-social_youtube_square:before {
  content: "\ea89";
}
.icon-cross97:before {
  content: "\e903";
}
.icon-next:before {
  content: "\e900";
}
.icon-prev:before {
  content: "\e901";
}
.icon-mouse3:before {
  content: "\e902";
}

/* ----------------- FullPage CSS ----------------- */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    bottom: 32px;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 32px;
}
#fp-nav.left {
    left: 32px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
  transition: all 1.4s cubic-bezier(0.77,0,.175,1);
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}

#fp-nav ul li {
  margin-bottom: 28px;
}

.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    background: #86009A;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 12px;
    width: 12px;
    border: 0;
    background: rgba(0,0,0,0.1);
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    background: #86009A;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #86009A;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: auto;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#fp-nav ul li:hover .fp-tooltip.left {
  left: 22px;
}

#fp-nav ul li:hover .fp-tooltip.right {
  right: 22px;
}

#fp-nav ul li .fp-tooltip.right {
    right: 13px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 13px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

/* ----------------- Magnific Popup CSS ----------------- */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
  transition: all 0.3s; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before,
  .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
